/***********************************
************************************
    Global Reset
************************************
***********************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*========Crimson Text & DM Sans fonts=========*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*========Page Display=========*/

body {
    min-height: 100vh;
    background-color: #fff;
}


/*========Fonts=========*/

/* project title in project page */
h1 { 
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 60px;
    line-height: normal;
    color: #000;
}

/* text on About card in homepage */
h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: #000;
}

/* get to know me more button in homepage & emphasized text in project page */
h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #000;
}

/* name of project in homepage */
h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #000;
}

/* subtitles in project page */
h5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #000;
    opacity: .4;
}

/* descriptive text */
p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #252621;
}

/* caption of image */
#caption {
    font-family: 'Sometype Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #000;
    opacity: .6;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem; 
}

/*========Mark=========*/
/* 20% transparent color */
mark { 
    background: #5573C1;
    background: linear-gradient(90deg, rgba(85, 115, 193, 0.2) 0%, rgba(155, 165, 195, 0.2) 100%);
    border-radius: 40px;
}

/*========Links=========*/

/* remove link style */
a {
    color: #000;
    text-decoration: none;
}

/*========Buttons=========*/

/* outlined button */
.btn { 
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: hidden;
    color: #fff;
    border-radius: 40px;
    background: linear-gradient(to bottom right, #000000, #00000080);
    height: max-content;
}

/* outlined button when hover */
.btn:hover {
    color: #fff;
    background: #000;
}

/* text button */
.text-btn {
    display: inline-block;
    position: relative;
}

/* text button hover animation */
.text-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* text button hover animation */
.text-btn:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
}

/*========Bootstrap Style Reset=========*/

/* remove default styles of Bootstrap card */
.card {
    border: none;           /* no border line for all cards */
    --bs-card-spacer-y: 0;  /* align text from the y0 of the card */
    --bs-card-spacer-x: 0;  /* align text from the x0 of the card */
    --bs-card-bg: none;     /* remove the default background color of Bootstrap card */
}

/* remove default padding in Bootstrap card footer */
.card-footer {
    padding: inherit;
}

/* Remove all popover default styles */
.popover {
    background: transparent;
    border: none;
    box-shadow: none;
}
.popover-body {
    padding: 0;
}
.popover-arrow {
    display: none !important; /* hides the arrow completely */
}