/* About card */
#about {
    background-color: transparent;
    border-radius: 4px;
    height: 400px;
}

/* About card footer */
.card-footer {
    background-color: transparent;
    border-top: none;
}

/* when smaller screen, change the font sizes smaller on About card */
@media screen and (max-width : 700px) {
    #about h2, a {
        font-size: 36px;
    }
}

/* Poster card */
#poster {
    background-color: #fff;
    border-radius: 4px;
    height: 400px;
    text-align: right;
    justify-content: center;
}

/* Remove default margin by Bootstrap in order to set the same margins to all cards */
.g-5 {
    --bs-gutter-y: 0; 
}

/* Project Card */
#project, #poster, #about {  /* Set the margins between cards */
    margin-bottom: 3rem;
}

.project-cover {
    position: relative;
}

.project-cover img {
    width: 100%;
    border-radius: 4px;
}

.project-title {
    margin-top: 1rem;
}

/* Overlay layer */
.img_overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
}

.img_overlay:hover {
    opacity: 0.8;
}

/* Block button on the overlay layer */
.img_overlay .btn { 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .8s ease;
    opacity: 0;
}

.img_overlay:hover .btn {
    opacity: 1;
}

/* Text on the overlay layer */
.img_overlay p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .8s ease;
}

