/***********************************
************************************
    Homepage Reset
************************************
***********************************/


/*========All Cards=========*/

/* remove default margin by Bootstrap in order to set the same margins to all cards */
.g-5 {
    --bs-gutter-y: 0; 
}

/* set margin below every card */
#project, #about {  
    margin-bottom: 3rem;
}

/* style card footer */
.card-footer {
    background-color: transparent;
    border-top: none;
    font-family: 'Sometype Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #000;
    opacity: .6;
    margin-top: 1rem;
}

/*========About Card=========*/
#about {
    background-color: transparent;
    border-radius: 4px;
}

/* change font size on About card when screen is small */
@media screen and (max-width : 375px) {
    #about h2 {
        font-size: 9vw;
    }
}

/*========Project Card=========*/

/* set project cover image */
.project-cover {
    position: relative;
}

.project-cover img {
    width: 100%;
    border-radius: 4px;
}

/* set space between project image and title */
.project-title {
    margin-top: 1rem;
}

/*------Overlay-------*/
.img_overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1dfde;
    opacity: 0;
}

/* show overlay when hover */
.img_overlay:hover {
    opacity: 0.8;
}

/* position overlay button in center */
.img_overlay .btn { 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .8s ease;
    opacity: 0;
}

/* show overlay button when hover */
.img_overlay:hover .btn {
    opacity: 1;
}