/* PAGE */
body {
    background-image: url("../assets/img/bg.png");
    background-size: cover; /* Resize the background image to cover the entire container */
}


/* Introduction */
h2 {
    font-size: 2.5vw; /* set the size to % of the viewport width */
}

h3 {
    font-size: 1.25vw; /* set the size to % of the viewport width */
    margin: 40px 0px;
}

p {
    width: 50%;
}

.introduction {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
}

/* When the viewport is 800px or smaller */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 2.25em;
    }
    h3 {
        font-size: 1.25em;
    }
    p {
        width: 100%; /* The text width is 100%, when the viewport is 800px or smaller */
    }
    .btn {
        position: relative; /* Button goes down when the viewport is 800px or smaller */
    }
}



/* CARDS */


/* Layout */
.container {
    width: 100%;
}

.row {
    margin-top: 40px;
}


/* Content */
hr {
    height: 4px;
    width:80%;
    background-color: #4a4a4a;
    margin-left: 0;
}

.experience {
    width: 100%;
    position: relative;
}

.experience img {
    position: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
    opacity: 0;
}

.content { /* centre text */
    position: absolute;
    top: 20%;
    left: 12%;
}

/* Cards hover */
.col-md:hover .experience img { 
    opacity: 1;
}
.col-md:hover .content h2 {
    color: #f0f0f0;
}
.col-md:hover .content h3 {
    color: #f0f0f0;
}
.col-md:hover .content p {
    color: #f0f0f0;
}
.col-md:hover .content hr {
    background-color:#f0f0f0;
}


/* FOOTER */
footer {
    height: 50px;
}